@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xlyi4r');
  src:  url('fonts/icomoon.eot?xlyi4r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xlyi4r') format('truetype'),
    url('fonts/icomoon.woff?xlyi4r') format('woff'),
    url('fonts/icomoon.svg?xlyi4r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home-outline:before {
  content: "\ea44";
}
.icon-av_timer:before {
  content: "\e95c";
}
.icon-redo1:before {
  content: "\e9d9";
}
.icon-reply2:before {
  content: "\e9db";
}
.icon-reply_all:before {
  content: "\ea09";
}
.icon-send:before {
  content: "\ea18";
}
.icon-airplanemode_off:before {
  content: "\ea19";
}
.icon-airplanemode_on:before {
  content: "\ea1a";
}
.icon-border_color:before {
  content: "\ea1b";
}
.icon-headset_mic:before {
  content: "\ea45";
}
.icon-keyboard_arrow_down:before {
  content: "\ea20";
}
.icon-keyboard_arrow_left:before {
  content: "\ea21";
}
.icon-keyboard_arrow_right:before {
  content: "\ea22";
}
.icon-keyboard_arrow_up:before {
  content: "\ea23";
}
.icon-keyboard_backspace:before {
  content: "\ea24";
}
.icon-keyboard_capslock:before {
  content: "\ea26";
}
.icon-flash_off:before {
  content: "\ea27";
}
.icon-flash_on:before {
  content: "\ea28";
}
.icon-navigate_before:before {
  content: "\ea29";
}
.icon-navigate_next:before {
  content: "\ea2a";
}
.icon-arrow_back:before {
  content: "\ea2b";
}
.icon-arrow_drop_down:before {
  content: "\ea2c";
}
.icon-arrow_drop_up:before {
  content: "\ea2f";
}
.icon-arrow_forward:before {
  content: "\ea30";
}
.icon-check:before {
  content: "\ea41";
}
.icon-expand_less:before {
  content: "\ea42";
}
.icon-expand_more:before {
  content: "\ea43";
}
.icon-wifi_off:before {
  content: "\ea46";
}
.icon-check_box:before {
  content: "\ea47";
}
.icon-check_box_outline_blank:before {
  content: "\ea48";
}
.icon-check_circle:before {
  content: "\ea49";
}
.icon-miscellaneous_services:before {
  content: "\ea4a";
}
.icon-files:before {
  content: "\e9cd";
}
.icon-file-add:before {
  content: "\e9cf";
}
.icon-align-left:before {
  content: "\e9d0";
}
.icon-arrow-left1:before {
  content: "\e9d2";
}
.icon-arrow-up1:before {
  content: "\e9d3";
}
.icon-arrow-down1:before {
  content: "\e9d4";
}
.icon-arrow-right1:before {
  content: "\e9d5";
}
.icon-refresh:before {
  content: "\e9d6";
}
.icon-checkmark3:before {
  content: "\e9d8";
}
.icon-heart1:before {
  content: "\ea4b";
}
.icon-star:before {
  content: "\ea4c";
}
.icon-settings:before {
  content: "\ea4d";
}
.icon-lock:before {
  content: "\ea4e";
}
.icon-location3:before {
  content: "\ea4f";
}
.icon-mail:before {
  content: "\ea50";
}
.icon-paperplane:before {
  content: "\ea51";
}
.icon-clip:before {
  content: "\ea52";
}
.icon-shop:before {
  content: "\ea54";
}
.icon-calendar2:before {
  content: "\ea55";
}
.icon-world1:before {
  content: "\ea56";
}
.icon-home1:before {
  content: "\e936";
}
.icon-home21:before {
  content: "\e937";
}
.icon-home31:before {
  content: "\e938";
}
.icon-office1:before {
  content: "\e93b";
}
.icon-newspaper:before {
  content: "\e93c";
}
.icon-pencil1:before {
  content: "\e93d";
}
.icon-pencil2:before {
  content: "\e93e";
}
.icon-quill:before {
  content: "\e93f";
}
.icon-pen:before {
  content: "\e940";
}
.icon-blog:before {
  content: "\e941";
}
.icon-eyedropper:before {
  content: "\e943";
}
.icon-droplet:before {
  content: "\e946";
}
.icon-paint-format:before {
  content: "\e94a";
}
.icon-image1:before {
  content: "\e94b";
}
.icon-images1:before {
  content: "\e94c";
}
.icon-camera1:before {
  content: "\e94d";
}
.icon-headphones:before {
  content: "\e94e";
}
.icon-music:before {
  content: "\e950";
}
.icon-play1:before {
  content: "\e951";
}
.icon-film:before {
  content: "\e952";
}
.icon-video-camera1:before {
  content: "\e953";
}
.icon-dice:before {
  content: "\e954";
}
.icon-pacman:before {
  content: "\e955";
}
.icon-spades:before {
  content: "\e957";
}
.icon-clubs:before {
  content: "\e95a";
}
.icon-diamonds:before {
  content: "\e95b";
}
.icon-connection:before {
  content: "\e95d";
}
.icon-podcast:before {
  content: "\e960";
}
.icon-feed:before {
  content: "\e961";
}
.icon-mic1:before {
  content: "\e962";
}
.icon-book:before {
  content: "\e963";
}
.icon-books:before {
  content: "\e964";
}
.icon-library:before {
  content: "\e965";
}
.icon-file-text1:before {
  content: "\e966";
}
.icon-profile:before {
  content: "\e96b";
}
.icon-file-picture1:before {
  content: "\e96c";
}
.icon-file-music:before {
  content: "\e96d";
}
.icon-file-play:before {
  content: "\e96e";
}
.icon-file-zip:before {
  content: "\e96f";
}
.icon-copy:before {
  content: "\e970";
}
.icon-paste:before {
  content: "\e971";
}
.icon-stack:before {
  content: "\e972";
}
.icon-folder:before {
  content: "\e974";
}
.icon-folder-open1:before {
  content: "\e975";
}
.icon-folder-plus1:before {
  content: "\e976";
}
.icon-folder-minus1:before {
  content: "\e977";
}
.icon-folder-download1:before {
  content: "\e978";
}
.icon-folder-upload1:before {
  content: "\e979";
}
.icon-price-tag:before {
  content: "\e97a";
}
.icon-price-tags:before {
  content: "\e97b";
}
.icon-barcode:before {
  content: "\e97c";
}
.icon-qrcode:before {
  content: "\e97d";
}
.icon-ticket2:before {
  content: "\e97e";
}
.icon-cart1:before {
  content: "\e97f";
}
.icon-coin-dollar:before {
  content: "\e980";
}
.icon-coin-euro:before {
  content: "\e981";
}
.icon-coin-pound:before {
  content: "\e982";
}
.icon-coin-yen:before {
  content: "\e983";
}
.icon-credit-card:before {
  content: "\e984";
}
.icon-calculator:before {
  content: "\e985";
}
.icon-lifebuoy:before {
  content: "\e988";
}
.icon-phone1:before {
  content: "\e989";
}
.icon-phone-hang-up:before {
  content: "\e98a";
}
.icon-address-book1:before {
  content: "\e98b";
}
.icon-envelop1:before {
  content: "\e98c";
}
.icon-pushpin:before {
  content: "\e98f";
}
.icon-location1:before {
  content: "\e991";
}
.icon-location21:before {
  content: "\e992";
}
.icon-compass1:before {
  content: "\e993";
}
.icon-compass2:before {
  content: "\e994";
}
.icon-map:before {
  content: "\e995";
}
.icon-map2:before {
  content: "\e996";
}
.icon-history:before {
  content: "\e997";
}
.icon-clock:before {
  content: "\e998";
}
.icon-clock21:before {
  content: "\e999";
}
.icon-alarm:before {
  content: "\e99a";
}
.icon-bell:before {
  content: "\e99b";
}
.icon-stopwatch:before {
  content: "\e99c";
}
.icon-calendar1:before {
  content: "\e99d";
}
.icon-printer:before {
  content: "\e99e";
}
.icon-keyboard:before {
  content: "\e99f";
}
.icon-display1:before {
  content: "\e9a0";
}
.icon-laptop:before {
  content: "\e9a1";
}
.icon-mobile1:before {
  content: "\e9a2";
}
.icon-mobile21:before {
  content: "\e9a3";
}
.icon-box-add1:before {
  content: "\e9a4";
}
.icon-box-remove1:before {
  content: "\e9a5";
}
.icon-download:before {
  content: "\e9a6";
}
.icon-upload:before {
  content: "\e9a7";
}
.icon-floppy-disk:before {
  content: "\e9a8";
}
.icon-drive:before {
  content: "\e9a9";
}
.icon-database:before {
  content: "\e9aa";
}
.icon-undo:before {
  content: "\e9ab";
}
.icon-redo:before {
  content: "\e9ac";
}
.icon-undo21:before {
  content: "\e9ad";
}
.icon-redo21:before {
  content: "\e9ae";
}
.icon-forward1:before {
  content: "\e9b0";
}
.icon-reply1:before {
  content: "\e9b1";
}
.icon-bubble:before {
  content: "\e9b2";
}
.icon-bubbles:before {
  content: "\e9b3";
}
.icon-bubbles2:before {
  content: "\e9b4";
}
.icon-bubbles3:before {
  content: "\e9b5";
}
.icon-bubbles4:before {
  content: "\e9b7";
}
.icon-user1:before {
  content: "\e9b8";
}
.icon-users:before {
  content: "\e9b9";
}
.icon-user-plus1:before {
  content: "\e9ba";
}
.icon-user-minus:before {
  content: "\e9bb";
}
.icon-user-check:before {
  content: "\e9bc";
}
.icon-user-tie:before {
  content: "\e9bd";
}
.icon-quotes-left:before {
  content: "\e9be";
}
.icon-quotes-right:before {
  content: "\e9bf";
}
.icon-hour-glass:before {
  content: "\e9c0";
}
.icon-spinner:before {
  content: "\e9c1";
}
.icon-spinner2:before {
  content: "\e9c2";
}
.icon-spinner3:before {
  content: "\e9c3";
}
.icon-spinner4:before {
  content: "\e9c4";
}
.icon-spinner5:before {
  content: "\e9c5";
}
.icon-spinner6:before {
  content: "\e9c6";
}
.icon-spinner9:before {
  content: "\e9c7";
}
.icon-menu:before {
  content: "\e9c8";
}
.icon-menu2:before {
  content: "\e9c9";
}
.icon-menu3:before {
  content: "\e9ca";
}
.icon-menu4:before {
  content: "\e9cb";
}
.icon-earth:before {
  content: "\e9cc";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-sad1:before {
  content: "\ea04";
}
.icon-wink21:before {
  content: "\ea05";
}
.icon-grin21:before {
  content: "\ea06";
}
.icon-cool21:before {
  content: "\ea07";
}
.icon-angry21:before {
  content: "\ea08";
}
.icon-plus1:before {
  content: "\ea0c";
}
.icon-minus1:before {
  content: "\ea0d";
}
.icon-cross1:before {
  content: "\ea11";
}
.icon-checkmark1:before {
  content: "\ea12";
}
.icon-checkmark2:before {
  content: "\ea15";
}
.icon-enter1:before {
  content: "\ea16";
}
.icon-exit1:before {
  content: "\ea17";
}
.icon-eject:before {
  content: "\ea25";
}
.icon-arrow-up-left:before {
  content: "\ea31";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-up-right:before {
  content: "\ea33";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-down-right:before {
  content: "\ea35";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-down-left:before {
  content: "\ea37";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-arrow-up-left2:before {
  content: "\ea39";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-down-left2:before {
  content: "\ea3f";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-checkbox-checked:before {
  content: "\ea57";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-paragraph-right:before {
  content: "\ea79";
}
.icon-indent-increase:before {
  content: "\ea7b";
}
.icon-indent-decrease:before {
  content: "\ea7c";
}
.icon-home:before {
  content: "\e905";
}
.icon-home2:before {
  content: "\e906";
}
.icon-home3:before {
  content: "\e908";
}
.icon-office:before {
  content: "\e915";
}
.icon-pencil:before {
  content: "\e916";
}
.icon-image:before {
  content: "\e917";
}
.icon-images:before {
  content: "\e918";
}
.icon-camera:before {
  content: "\e919";
}
.icon-play:before {
  content: "\e91a";
}
.icon-video-camera:before {
  content: "\e91b";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-folder-minus:before {
  content: "\e932";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-ticket:before {
  content: "\e939";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-phone:before {
  content: "\e942";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-compass:before {
  content: "\e949";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-box-remove:before {
  content: "\e95f";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-forward:before {
  content: "\e969";
}
.icon-reply:before {
  content: "\e96a";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-key:before {
  content: "\e98d";
}
.icon-key2:before {
  content: "\e98e";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-airplane1:before {
  content: "\e9af";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-man:before {
  content: "\e9dc";
}
.icon-woman:before {
  content: "\e9dd";
}
.icon-man-woman:before {
  content: "\e9de";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-happy2:before {
  content: "\e9e0";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-smile2:before {
  content: "\e9e2";
}
.icon-tongue:before {
  content: "\e9e3";
}
.icon-tongue2:before {
  content: "\e9e4";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-sad2:before {
  content: "\e9e6";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-wink2:before {
  content: "\e9e8";
}
.icon-grin:before {
  content: "\e9e9";
}
.icon-grin2:before {
  content: "\e9ea";
}
.icon-cool:before {
  content: "\e9eb";
}
.icon-cool2:before {
  content: "\e9ec";
}
.icon-angry:before {
  content: "\e9ed";
}
.icon-angry2:before {
  content: "\e9ee";
}
.icon-evil:before {
  content: "\e9ef";
}
.icon-evil2:before {
  content: "\e9f0";
}
.icon-shocked:before {
  content: "\e9f1";
}
.icon-shocked2:before {
  content: "\e9f2";
}
.icon-baffled:before {
  content: "\e9f3";
}
.icon-baffled2:before {
  content: "\e9f4";
}
.icon-confused:before {
  content: "\e9f5";
}
.icon-confused2:before {
  content: "\e9f6";
}
.icon-neutral:before {
  content: "\e9f7";
}
.icon-neutral2:before {
  content: "\e9f8";
}
.icon-hipster:before {
  content: "\e9f9";
}
.icon-hipster2:before {
  content: "\e9fa";
}
.icon-wondering:before {
  content: "\e9fb";
}
.icon-wondering2:before {
  content: "\e9fc";
}
.icon-sleepy:before {
  content: "\e9fd";
}
.icon-sleepy2:before {
  content: "\e9fe";
}
.icon-frustrated:before {
  content: "\e9ff";
}
.icon-frustrated2:before {
  content: "\ea00";
}
.icon-crying:before {
  content: "\ea01";
}
.icon-crying2:before {
  content: "\ea02";
}
.icon-point-up:before {
  content: "\ea03";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-backward2:before {
  content: "\ea1f";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-hangouts:before {
  content: "\ea8e";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter1:before {
  content: "\ea96";
}
.icon-linkedin1:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-airport:before {
  content: "\e92f";
}
.icon-flight:before {
  content: "\e935";
}
.icon-world:before {
  content: "\e92b";
}
.icon-logo:before {
  content: "\e92a";
}
.icon-aircraft:before {
  content: "\e92c";
}
.icon-helicopter:before {
  content: "\e92d";
}
.icon-visa_icon:before {
  content: "\e92e";
}
.icon-user-lock:before {
  content: "\e929";
}
.icon-calendar:before {
  content: "\e91c";
}
.icon-car-seat:before {
  content: "\e91d";
}
.icon-office-chair1:before {
  content: "\e91f";
}
.icon-plane-ticket:before {
  content: "\e920";
}
.icon-seat:before {
  content: "\e921";
}
.icon-standing-up-man:before {
  content: "\e923";
}
.icon-ticket-1:before {
  content: "\e924";
}
.icon-ticket1:before {
  content: "\e925";
}
.icon-user-1:before {
  content: "\e926";
}
.icon-user:before {
  content: "\e928";
}
.icon-airplane-fill:before {
  content: "\e900";
}
.icon-airplane:before {
  content: "\e901";
}
.icon-arrow-left-thick-1:before {
  content: "\e902";
}
.icon-arrow-left-thick:before {
  content: "\e903";
}
.icon-battery_full-24px-1:before {
  content: "\e904";
}
.icon-email:before {
  content: "\e907";
}
.icon-google-plus:before {
  content: "\e909";
}
.icon-key-variant-1:before {
  content: "\e90a";
}
.icon-linkedin:before {
  content: "\e90b";
}
.icon-office-chair:before {
  content: "\e90c";
}
.icon-plane-fill:before {
  content: "\e90d";
}
.icon-plane:before {
  content: "\e90e";
}
.icon-signal_cellular_alt-24px:before {
  content: "\e90f";
}
.icon-signal_wifi_4_bar-24px:before {
  content: "\e910";
}
.icon-take-off-1:before {
  content: "\e911";
}
.icon-take-off:before {
  content: "\e912";
}
.icon-taxi:before {
  content: "\e913";
}
.icon-twitter:before {
  content: "\e914";
}
